.outer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: gray;
  color: white;
  padding: 1rem;

  .title {
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
  }
  .options {
    text-align: center;
  }
}

.content-wrapper {
  display: flex;

  .editor-wrapper {
    display: inline-block;
    padding: 1rem;
    height: calc(100vh - 10rem);
    width: 50%;
  }
  .console-wrapper {
    display: inline-block;
    padding: 1rem;
    height: calc(100vh - 10rem);
    width: 45%;

    .console {
      height: calc(100% - 6rem);
      background-color: silver;
      overflow-y: scroll;
      white-space: pre-line;
      color: black;

      .row {
        font-family: 'Lucida Grande', sans-serif;
        font-size: 1.25rem;
        font-weight: 100;

        padding: 0 2rem;
        border-bottom: 1px solid gray;

        &:hover {
          background-color: palegoldenrod;
        }
      }
    }
  }
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:not(:first-child) {
    margin-left: 1rem;
  }
  &:hover {
    background-color: #4acF50;
    cursor: pointer;
  }
}
