<div class="outer-wrapper">
  <div class="title">A Look Inside Observables</div>

  <div class="options">
    <button class="btn" (click)="selectOption(0)" [class.selected]="selected === 0">Observable</button>
    <button class="btn" (click)="selectOption(1)" [class.selected]="selected === 1">Subject</button>
  </div>

  <div class="content-wrapper">
    <div class="editor-wrapper">
      <nu-monaco-editor class="editor" style="height: 100%;" [(ngModel)]="value" [options]="editorOptions"></nu-monaco-editor>
    </div>
    <div class="console-wrapper">
      <button class="btn" (click)="runCode()">Run Code</button>
      <div class="console">
        <div class="row" *ngFor="let row of outputContent">{{row}}</div>
      </div>
    </div>
  </div>
</div>
