<div class="outer-wrapper">
  <div class="options">
    <button class="btn" (click)="selectOption(0)" [class.selected]="selected === 0">Observable 1</button>
    <button class="btn" (click)="selectOption(1)" [class.selected]="selected === 1">Observable 2</button>

    <button class="btn" (click)="selectOption(2)" [class.selected]="selected === 2">Subject</button>
    <button class="btn" (click)="selectOption(3)" [class.selected]="selected === 3">BehaviorSubject</button>
    <button class="btn" (click)="selectOption(4)" [class.selected]="selected === 4">ReplaySubject 1</button>
    <button class="btn" (click)="selectOption(5)" [class.selected]="selected === 5">ReplaySubject 2</button>
    <button class="btn" (click)="selectOption(6)" [class.selected]="selected === 6">AsyncSubject</button>
    <button class="btn" (click)="selectOption(7)" [class.selected]="selected === 7">void Subject</button>
  </div>

  <div class="content-wrapper">
    <div class="editor-wrapper">
      <nu-monaco-editor class="editor" style="height: 100%;" [(ngModel)]="value" [options]="editorOptions"></nu-monaco-editor>
    </div>
    <div class="console-wrapper">
      <button class="btn" (click)="runCode()">Run Code</button>
      <div class="console">
        <div class="row" *ngFor="let row of outputContent">{{row}}</div>
      </div>
    </div>
  </div>
</div>
